.contact-banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.social {
  width: 500px;
  background: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
