.headers {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
.left {
  margin-left: 20px;
}
.right {
  margin-right: 20px;
}
.right-item {
  margin: 0 10px;
}
.active-item a{
  color: red;
  margin: 0 10px;
}
