<div class="headers">
  <!-- Home -->
  <div class="left">
    <%= link_to "Home", "index.html", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <%= link_to "Work", "work.html", class: "right-item" %>
    <%= link_to "Contact", "contact.html", class: "right-item" %>
  </div>
</div>
<div id="home">
  <div class="home">
    <h1>
    Hi! I am Florent Liénard.
    </h1>
    <p>
      Product Designer & Web Developer
    </p>
  </div>
</div>
<div class="about">
  <div class="about-description">
    <h3 class = "title-description">ABOUT</h3>
    <div class="para-description">
      <p>I structure, design and create online experiences.</p>
      <p>I am based in Paris and Lille.</p>
    </div>
  </div>
  <div class="about-picture">
    <img src="/images/provisoire.png" alt="florent liénard"  width= 200px;>
  </div>
</div>
<div class="touch">
  <h3><strong>Want to get in touch?</strong></h3>
  <a href="mailito:lienard.florent@gmail.com">lienard.florent@gmail.com</a>
</div>
