<div class="navbar-wagon">
  <!-- Home -->
  <%= link_to "Home", "index.html", class: "navbar-wagon-item navbar-wagon-link" %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
  <%= link_to "Work", "work.html", class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Contact", "contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
