  <div class="page-bg"></div>
  <div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>
<!-- ENF TEST -->
<div class="headers">
  <!-- Home -->
  <div class="left">
    <%= link_to "Home", "index.html", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <%= link_to "Work", "work.html", class: "active-item" %>
    <%= link_to "Contact", "contact.html", class: "right-item" %>
  </div>
</div>
<div class="space-nav">
  <div class="h_line"></div>
</div>
<div class="work-experience">
  <div class="experience-title">
    <h1>
    leasy
    </h1>
  </div>
  <div class="experience-moto">
    <p>
      Automate your property management
    </p>
  </div>
  <div>
    <%= image_tag "leasy.png", class: "experience-banner"%>
  </div>
  <div class="experience-description">
    <p>Leasy is a SAAS solution for property managers eager to gain in productivity. With Leasy, focus on high valued-added missions rather than spending hours on repititive and boring tasks.</p>
    <p class = "technologies"><strong>Techonologies:</strong> Ruby on Rails, Javascript, Jquery, HTML/CSS</p>
  </div>
</div>
<hr class = "line" align="center" width="70%">
<div class="touch">
  <h3><strong>Want to get in touch?</strong></h3>
  <a href="mailito:lienard.florent@gmail.com">lienard.florent@gmail.com</a>
</div>
</div>
